@model IEnumerable<ASPProject.Models.TaskUserViewModel>

@{
    ViewBag.Title = "FreeTeamTasks";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>FreeTeamTasks</h2>

<table class="table table-striped table-hover table-primary">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <button class="btn" style="background-color:#7e8289" onclick="location.href='@Url.Action("TakeTask", "User", new { id = item.Id })'">Poedejmij się zadania</button>
        </td>
    </tr>
}

</table>
